# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Python package

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.8", "3.10", "3.12", "3.14"]

    steps:
    - uses: actions/checkout@v4

    - name: Install uv
      run: python -m pip install uv

    - name: Setup venv
      run: uv venv --python ${{ matrix.python-version }}

    - name: Install dependencies
      run: uv pip install . --group test --group pipeline

    - name: Lint with flake8
      run: uv run flake8

    - name: Test with pytest
      run: |
        ls
        uv run python -m pytest --rootdir=${{ github.workspace }} test
